*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent-container{
  display: flex;
  justify-content: center;
  align-items: center;
 min-height: 100vh;
  min-width: 100%;
}

.container{
  background-color: #F6F4EB;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  max-height: 100vh;
  height: 300px;
  max-width: 100%;
  width: 600px;
  gap: 40px;
  border-radius: 20px;
}

.count div{
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: 2px solid gray;
  border-radius: 30px;
}

.count{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}

.count > .active{
  background-color: blueviolet;
  color: white;
  font-size: 18px;
}

.my-btn{
  display: flex;
  gap: 200px;
}

.change-btn{
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: blueviolet;
  color: white;
  border: none;
}